/*Header*/
header
{
	display: flex;
}

body
{
	font-family:'Open Sans', sans-serif;
	margin: 10px;
}

.FlexAround
{
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.FlexCenter
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.FlexBetween
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Décorationnone
{
	text-decoration: none;
}

/*Lien de Navigation*/ 

#Navigation img
{
	height: 10%;
	width: 15%;
	margin-top: 40px;
	
	
}

.Link a
{
	margin-right: 50px;
	text-decoration: none;
	color: #0065FC;
}

.Link a :visited 
{
    color: #0065FC;
    text-decoration: none;
}


#Activités
{
	color: black;
	border: none;
	
}
.Signin
{
font-weight: bold;

}
.Link
{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
position: absolute;right: 60px;top: 6px;

line-height: 100px;
}
.Link1 /*Link1 car seul un lien est concerné par la bordure*/
{
	border-top: 1px solid blue;
}


/*Barre de recherche*/

.Bordersearch
{
	width: 400px;
	border-radius: 10px;
	border: 0.5px #f2f2f2 solid;
}
.paddingSearch
{
	padding-left: 1px;
}
.Search
{
	height: 50px;
	width: 230px;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
}
.BoutonSearch
{
	width: 120px;
	height: 50px;
	color: white;
	cursor: pointer;
	border-radius: 0px 10px 10px 0px;
}
.BorderNone
{
	border: none;
}
.IconSize
{
	width: 50px;
	height: 50px;
	border-radius: 10px 0px 0px 10px;
}
.BackGrey
{
	background-color: #F2F2F2;
}
.BackBlue
{
	background-color: blue;
}
/*Filtre*/
.MargFiltre
{
	margin-top: 50px;
	margin-bottom: 40px;
}

.MargFiltreTitre
{
	margin-right: 20px;
}
.FiltreTextIcon
{
	border: 2px solid #f2f2f2;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;
}
.FiltreTextIcon:hover > .FiltreText
{
color:#0065FC
}
.FiltreTextIcon:hover > .FiltreIcon
{
color: white;
background-color: #0065FC;
}
.FiltreText
{
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0 25px 25px 0;
}
.FiltreIcon
{
	margin-left: -2px;
	border-radius: 25px;
	height: 52px;
	width: 52px;
	color: #0065FC;
	background-color: #deebff;
}
.Filtre
{
	display: flex;
	align-items: center;
	align-content: center;
	
}
/*Section Information*/
.Info
{
	display: flex;
	align-items: center;
	padding-right: 0px;
}
.fa-info
{
	color: blue
		
}
.ParentIcon
{
	width: 20px;
	height: 20px;
	border: 2px solid #f2f2f2;
	border-radius: 25px;
}
/*Fin du Header*/

./Filtres i
{
	margin-right: 30px;
	max-height: 5px;
	color: blue;
	font-size: 22px;
	display: inline-block;
 	padding: 0.3em 0.2em;
	border: 2px #F2F2F2;
	

}
./Filtres p
{
	display: inline-flex;
	flex-wrap: nowrap;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 0px;
	font-size: 17px;
	
}
.search/ i 
{

height: 4px;
width:  4px;
border: 3px #F2F2F2 solid;

color: black;
display: inline-flex;
}

#Tendance
{
	display: flex;
	width: 120%;
	height: 30%;
	margin-left: 20px;
}
#Tendances img
{
    max-height: 150px;
    width: 100%;
    height: 100%;
}

#héb
{
	margin-left: 95px;
}
.Hebergement
{
	
	width: 50%;
	height: 30%;
	
	
}

.image img
{
	max-width: 270px;
	max-height: 170px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
}
.image p
{
	margin-left: 10px;
}

.litle
 {
	 
	 width: 255px;
	 height: 170px;
 }
.image
{
	width: 15%;
	height: 5%;
}

.Up
{
	
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-evenly ;
    align-content: stretch;
    align-items: flex-start;
	line-height: 7px;
}

.Down
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: stretch;
    align-items: flex-start;
	line-height: 7px;
}
.Hebergement
{
	border:  2px #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 20px;
	
}
.image
{
	border: 1px white;
	background-color: white;
	border-radius: 20px;
	width: auto;
	height: auto;
}
.fa-star
{
	
	
	color: #F2F2F2;
}

.BS
{
	color: blue;
}
.Les_plus_populaires 
{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	
	border:  2px #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 20px;
	
}
.Les_plus_populaires img
{
	max-width: 200px;
	max-height: 150px;
	width: 100%;
	height: 100%;
	display: inline-flex;
	justify-content: space-evenly;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#prix
{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 30%;
	height: 70%;
	font-size: 15px;
	line-height: 10px;
	
	
}
.LPP
{
	display: flex;
	flex-direction: row;
	
	width: 100%;
	height: auto;
	border: none white;
	
	border-radius: 20px;
	
	
	
}

.Star 
{
line-height: 10px;
}

.LPP p
{
	line-height: 15px;
	margin-left: 10px;

}
.titre 
{
	margin-left: 5px;
}
#act
{
	margin-top: -50px;
	margin-left: 20px;
	display: inline-flex;
}
.Iact
{
	margin-left: 15px;
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-evenly ;
    align-content: stretch;
    align-items: flex-start;

}

#Activité_à_Marseille img
{
	
    width: 80%;
    height: 60%;
}

.bpics
{
	width: 50%;
	height: 70%;
	font-size: 15px;
}

.duo
{
	width: 30%;
	height: 70%;
	font-size: 15px;
}

footer

{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-left: 15px;
justify-content: space-around;
}