#Tendance
{
	display:flex ;
	max-width: 150px;
	max-height: 150px;
	background-color: #F2F2F2;
}

.menu
{
	display: flex;
	text-align: right;

}

.Filtre
{
	display: flex;
}
.Hebergement
{
	display: flex;
	flex-wrap:wrap ;	
	background-color: #F2F2F2;
}

.Les_plus_populaire
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
}

.Activité_à_Marseille
{

	max-width: 150px;
	max-height: 150px;
	display: flex;

}
footer
{
	
	background-color: #F2F2F2;
	text-align: center;
	display: flex;
}

body

{
	margin: 0; 
	
}