/*Balise Général*/
.FlexAround
{
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.FlexCenter
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.FlexBetween
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.FlexColumnAround
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.FlexColumnCenter
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.FlexColumnBetween
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.Décorationnone
{
	text-decoration: none;
}
.TxtGras
{
	font-weight: bold;
}
.BackGrey
{
	background-color: #F2F2F2;
}
.BackBlue
{
	background-color: blue;
}
/*Fin des balises général*/
body
{
	font-family:'Raleway', sans-serif;
	margin: 10px;
}

/*Header*/
header
{
	display: flex;
}
/*Lien de Navigation*/ 
#Navigation
{
	width: 100%;
}

.Sizelink
{
	width: 45%;
}
.Sizelinks
{
	width: 140px;
	height: 99px;
	
}
.Links
{
	margin-right: 50px;
	text-decoration: none;
	color: #0065FC;
}
.Links:visited 
{
    color: #0065FC;
    text-decoration: none;
}
.Links:hover
{
	border-top: 1px solid #0065FC;
	cursor: pointer;
}
.Activité
{
	color: black;
	margin-right: 50px;
	text-decoration: none;
		
	
}
.Signin
{
font-weight: bold;
}

.Links 
{
	border-top: 1px solid transparent;
}


/*Section Barre de recherche*/
.Bordersearch
{
	width: 400px;
	border-radius: 10px;
	border: 0.5px #f2f2f2 solid;
}
.paddingSearch
{
	padding-left: 1px;
}
.Search
{
	height: 50px;
	width: 230px;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
}
.BoutonSearch
{
	width: 120px;
	height: 50px;
	color: white;
	cursor: pointer;
	border-radius: 0px 10px 10px 0px;
}
.BoutonSearch:hover
{
	color: #0065ff;
	background-color: #F2F2F2;	
}
.BorderNone
{
	border: none;
}
.IconSize
{
	width: 50px;
	height: 50px;
	border-radius: 10px 0px 0px 10px;
}

/*Fin de la section barre de recherche*/

/*Filtre*/
.MargFiltre
{
	margin-top: 50px;
	margin-bottom: 40px;
}

.MargFiltreTitre
{
	margin-right: 20px;
}
.FiltreTextIcon
{
	border: 2px solid #f2f2f2;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;
}
.FiltreTextIcon:hover > .FiltreText
{
color:#0065FC
}
.FiltreTextIcon:hover > .FiltreIcon
{
color: white;
background-color: #0065FC;
}
.FiltreText
{
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0 25px 25px 0;
}
.FiltreIcon
{
	margin-left: -2px;
	border-radius: 25px;
	height: 52px;
	width: 52px;
	color: #0065FC;
	background-color: #deebff;
}
.Filtre
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	
}
/*Fin de la section Filtre*/

/*Section Information*/
.Info
{
	display: flex;
	align-items: center;
	padding-right: 0px;
}
.fa-info
{
	color: blue	
}
.ParentIcon
{
	width: 20px;
	height: 20px;
	border: 2px solid #f2f2f2;
	border-radius: 25px;
}
/*Fin du Header*/

/* Section Hébergement*/

h2
{
	width: 100%;
	margin: 20px 0 20px 10px;
} 
.SizeHébergement
{
	flex: 2;
	height: 650px;
	margin-right: 20px;
	border-radius: 10px;
}
.BlocHebergment
{
	padding-left: 20px;
	padding-right: 20px;
	
}
.Bloc1
{
	margin-bottom: 10px;
}
.Bloc2
{
	margin-top: 10px;
}
.CubeHebergement
{
	width: 30%;
	height: auto;
	background-color: white;
	padding: 1%;
	border-radius: 20px;
}
.CubeHebergement:hover
{
	cursor: pointer;
	transform: scale(1.1);
}
.CubeDetailHebergement
{
	width: 90%;
}
.ImgHébergement1
{
	background-image: url("./images/hebergements/4_small/ALC.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
}
.ImgHébergement2
{
	background-image: url("./images/hebergements/4_small/HDP.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
}
.ImgHébergement3
{
	background-image: url("./images/hebergements/4_small/HLM.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
}
.ImgHébergement4
{
	background-image: url("./images/hebergements/4_small/HDLM.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
}
.ImgHébergement5
{
	background-image: url("./images/hebergements/4_small/ALP.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
}
.ImgHébergement6
{
	background-image: url("./images/hebergements/4_small/HCA.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
}
/*Section Populaire*/

.SizePopulaire
{
	flex: 1;
	height: 650px;
	margin-left: 20px;
	border-radius: 10px;
}
.BlocPopulaire
{
	padding-left: 20px;
	padding-right: 20px;
}
.BlocPopulaire12 /*12 parce que seul le Bloc 1 et 2 sont concerné*/
{
	margin-bottom: 22px;
}
.CubePopulaire
{
	background-color: white;
	height: auto;
	padding: 1% 0% 1% 1%;
	border-radius: 20px;
}
.CubePopulaire:hover
{
	cursor: pointer;
	transform: scale(1.05);
}
.CubeDetailPopulaire
{
	width: 60%;
	padding-left: 5%;
}
.ImgPopulaire1
{
	background-image: url("./images/hebergements/4_small/HLSDM.jpg");
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0px 0px 15px;
}
.ImgPopulaire2
{
	background-image: url("./images/hebergements/4_small/ACDL.jpg");
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0px 0px 15px;
}
.ImgPopulaire3
{
	background-image: url("./images/hebergements/4_small/HTBEB.jpg");
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0px 0px 15px;
}
/* Section Activité*/

.Activités
{
margin-top: 50px;
margin-bottom: 50px;
}
.BlocActivités
{
	width: 100%;
	height: 600px;
}
.BlocActivités2356 /*2,3,5,6 parce que seule les images 2,3,5,6 sont concerné par cette régle*/
{
	width: 23%;
	height: 600px;
}
.CubeActivités
{
	width: 23%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.CubeActivités:hover
{
	cursor: pointer;
	transform: scale(1.03);
}
.CubeActivités2356 /*2,3,5,6 parceque seule les images 2,3,5,6 sont concerné par cette régle*/ 
{
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.CubeActivités2356:hover
{
	cursor: pointer;
	transform: scale(1.03);
}
.Heighttitle
{
	height: 70px;
}
.ActivitésTitre
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5%;
	width: 95%;
}
.ImgActivités1
{
	background-image: url("./images/activites/3_medium/VP.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 530px;
	border-radius: 15px 15px 0px 0px;
}
.ImgActivités2
{
	background-image: url("./images/activites/3_medium/FDP.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-radius: 15px 15px 0px 0px;
}
.ImgActivités3
{
	background-image: url("./images/activites/3_medium/IDF.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 150px;
	border-radius: 15px 15px 0px 0px;
}
.ImgActivités4
{
	background-image: url("./images/activites/3_medium/PNDC.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 530px;
	border-radius: 15px 15px 0px 0px;
}
.ImgActivités5
{
	background-image: url("./images/activites/3_medium/NDDLG.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0px 0px;
}
.ImgActivités6
{
	background-image: url("./images/activites/3_medium/PL.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0px 0px;
}
/*Réglage et couleur des étoiles*/

.fa-star /*Par défaut je veux que mes étoiles soit grise*/
{
	color: #F2F2F2;
}
.BS
{
	color: blue;
}
/*Fin du réglage*/

/*Section Footer*/

.Footer
{
height: 300px;
margin-top: 100px;
}
.TailleBlocFooter
{
	height: 150px;
}
.MargeBlocFooter1
{
	margin-left: 5%;
}
.MargeBlocFooter3
{
	margin-right: 15%;
}
.LinkFooter
{
	color: black;
}
.DivLinkFooter
{
	height: 30px;
}


/* Partie responsive Tablette*/

@media (max-width: 768px) 
{
	body
	 {
		 width: 768px;
		
	 }
	.Logo
	{
	   position: absolute;
	   top: 10px; left: 15px;
	}
	.intro
	{
		justify-content: center;
		font-size: 23px;
	}
   #Introduction
   {
	   width: 135%;
	   justify-content: center;
	   align-items: center;
   }
   #Icon
	{
		width: 160%;
		font-size: 25px;
	}
	#Navigations
	{
		flex-direction: row-reverse;
		width: 70%;
	}
	#headnav
	{
		font-size: 25px;
		width: auto;
	}
	#AncreHebergements
	{
		width: 0%;		
		line-height: 10px;
		margin-top: 20px;
		text-align: center;
	}
	#AncreActivités
	{
		color: #0065ff;
		width: 100%;
		line-height: 10px;
		margin-top: 20px;
		text-align: center;
	}
	.Activité
	{
		color: #0065ff;
	}
	.Links
	{
		border-bottom: 1px solid #0065ff;
	}
	#AncreInscription
	{
		position: absolute;
		top: 25px; right: -450px;
		font-size: 30px;
	}
	.Navlink
	{
		position: relative;
		top: 70px;
		justify-content: space-between;

	}
	#BlocHebergmentPopulaires 
	{
		flex-direction: column;
	}
	

	#hébergement
	{
		width: 1180px;
		font-size: 21px;
		margin: auto;
		margin-bottom: 25px;
	}
	#Blocpopulaires
	{
		
		width: 1180px;
		font-size: 25px;
		margin-top: 5px;
		margin: auto;
	}
	#Blocactivité
	{
		width: 1210px;
		font-size: 25px;
	}
	#foot
	{
		width: 1210px;
		text-align: center;
		font-size: 25px;
	}
	.Footer
	{
	margin-top: 65px;
	}
	
}

@media (max-width: 360px)
{
	
}
